<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="com.dc3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <com.dc3.Properties.Settings>
            <setting name="CodeSpeed" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="PollInterval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="StoryAge" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="ToneFreq" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="CodeMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FeedURL" serializeAs="String">
                <value>http://rss.news.yahoo.com/rss/topstories</value>
            </setting>
            <setting name="SoundMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SounderNumber" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LRU" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>http://rss.news.yahoo.com/rss/topstories</string>
                        <string>http://rss.news.yahoo.com/rss/science</string>
                        <string>http://rss.news.yahoo.com/rss/business</string>
                        <string>http://rss.news.yahoo.com/rss/tech</string>
                        <string>http://rss.news.yahoo.com/rss/oped</string>
                        <string>http://rss.news.yahoo.com/rss/oddlyenough</string>
                        <string>http://solo.dc3.com/rss/top100words.asp</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SerialPort" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UseSerial" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimingComp" serializeAs="String">
                <value>3</value>
            </setting>
        </com.dc3.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
