<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="com.dc3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <com.dc3.Properties.Settings>
            <setting name="CodeSpeed" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="PollInterval" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="StoryAge" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="ToneFreq" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="CodeMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FeedURL" serializeAs="String">
                <value />
            </setting>
            <setting name="SoundMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SounderNumber" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LRU" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>http://rss.news.yahoo.com/rss/topstories</string>
                        <string>http://rss.news.yahoo.com/rss/science</string>
                        <string>http://rss.news.yahoo.com/rss/business</string>
                        <string>http://solo.dc3.com/rss/top100words.asp</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SerialPort" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UseSerial" serializeAs="String">
                <value>False</value>
            </setting>
        </com.dc3.Properties.Settings>
    </userSettings>
</configuration>